<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bluetooth scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="primary" (click)="scan()">
    <p>Scan</p>
  </ion-button>
  <ion-list>
    <ion-card-content ion-item *ngFor="let device of devices">
      <p>{{device.name || 'Unamed'}}</p>
      <p>{{device.id}}</p>
      <p>RSSI : {{device.rssi}}</p>
    </ion-card-content>
  </ion-list>
</ion-content>
